[submodule "site_scons/site_tools/doxygen"]
	path = site_scons/site_tools/doxygen
	url = git://github.com/ptomulik/scons_doxygen.git
[submodule "site_scons/site_tools/doxyfile"]
	path = site_scons/site_tools/doxyfile
	url = git://github.com/ptomulik/scons-tool-doxyfile.git
[submodule "site_scons/site_tools/cxxtest"]
	path = site_scons/site_tools/cxxtest
	url = git://github.com/ptomulik/scons-tool-cxxtest.git
[submodule "lib/typeout"]
	path = lib/typeout
	url = git://github.com/ptomulik/typeout
[submodule "site_scons/site_tools/swigpy"]
	path = site_scons/site_tools/swigpy
	url = git://github.com/ptomulik/scons-tool-swigpy.git
[submodule "lib/scons-gnu-build"]
	path = lib/scons-gnu-build
	url = git://github.com/ptomulik/scons-gnu-build.git
[submodule "site_scons/site_tools/gcccov"]
	path = site_scons/site_tools/gcccov
	url = git://github.com/ptomulik/scons-tool-gcccov.git
[submodule "site_scons/site_tools/clang++"]
	path = site_scons/site_tools/clang++
	url = git://github.com/ptomulik/scons-tool-clangpp.git
[submodule "site_scons/site_tools/clang"]
	path = site_scons/site_tools/clang
	url = git://github.com/ptomulik/scons-tool-clang.git
