#############################################################################

#############################################################################
# Typical garbage
/err
/out
/repl.sed

#############################################################################

#############################################################################
# Ignore editor junk

*.swp
*.bkp
*.bak
*~

#############################################################################
