<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE math PUBLIC "-//W3C//DTD MathML 2.0//EN"
       "http://www.w3.org/TR/MathML2/dtd/mathml2.dtd">
<!-- Created by amaya 11.4.4, see http://www.w3.org/Amaya/ -->
<math xmlns="http://www.w3.org/1998/Math/MathML">
  <mrow>
    <mi mathvariant="bold">F</mi>
    <mo>+</mo>
    <msub>
      <mi mathvariant="bold">F</mi>
      <mover>
        <mi mathvariant="bold">y</mi>
        <mo mathvariant="bold">.</mo>
      </mover>
    </msub>
    <msup>
      <mover>
        <mi mathvariant="bold">δ</mi>
        <mo>˙</mo>
      </mover>
      <mrow>
        <mi>η</mi>
        <mo>+</mo>
        <mn>1</mn>
      </mrow>
    </msup>
    <mo>+</mo>
    <msub>
      <mi mathvariant="bold">F</mi>
      <mi mathvariant="bold">y</mi>
    </msub>
    <mo></mo>
    <msup>
      <mi mathvariant="bold">δ</mi>
      <mrow>
        <mi>η</mi>
        <mo>+</mo>
        <mn>1</mn>
      </mrow>
    </msup>
    <mo>=</mo>
    <mn mathvariant="bold">0</mn>
    <mo> </mo>
    <mi>and</mi>
    <msup>
      <mrow>
        <mo> </mo>
        <mi mathvariant="bold">y</mi>
      </mrow>
      <mrow>
        <mi>η</mi>
        <mo>+</mo>
        <mn>1</mn>
      </mrow>
    </msup>
    <mo>=</mo>
    <msup>
      <mi mathvariant="bold">y</mi>
      <mi>η</mi>
    </msup>
    <mo>+</mo>
    <msup>
      <mi mathvariant="bold">δ</mi>
      <mrow>
        <mi>η</mi>
        <mo>+</mo>
        <mn>1</mn>
      </mrow>
    </msup>
  </mrow>
</math>