<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE math PUBLIC "-//W3C//DTD MathML 2.0//EN"
       "http://www.w3.org/TR/MathML2/dtd/mathml2.dtd">
<!-- Created by amaya 11.4.4, see http://www.w3.org/Amaya/ -->
<math xmlns="http://www.w3.org/1998/Math/MathML">
  <mrow>
    <mo>(</mo>
    <mrow>
      <mo>&#x2131;</mo>
      <mo>&rsquo;</mo>
    </mrow>
    <msup>
      <mi mathvariant="bold">y</mi>
      <mrow>
        <mi>&eta;</mi>
        <mo>&minus;</mo>
        <mn>1</mn>
      </mrow>
    </msup>
    <mo>)</mo>
    <msup>
      <mi mathvariant="bold">&delta;</mi>
      <mi>&eta;</mi>
    </msup>
    <mo>=</mo>
    <mo>&minus;</mo>
    <mo>&#x2131;</mo>
    <msup>
      <mi mathvariant="bold">y</mi>
      <mrow>
        <mi>&eta;</mi>
        <mo>&minus;</mo>
        <mn>1</mn>
      </mrow>
    </msup>
    <mo>&nbsp;</mo>
    <mi>and</mi>
    <mo>&nbsp;</mo>
    <msup>
      <mi mathvariant="bold">y</mi>
      <mi>&eta;</mi>
    </msup>
    <mo>=</mo>
    <msup>
      <mi mathvariant="bold">y</mi>
      <mrow>
        <mi>&eta;</mi>
        <mo>&minus;</mo>
        <mn>1</mn>
      </mrow>
    </msup>
    <mo>+</mo>
    <msup>
      <mi mathvariant="bold">&delta;</mi>
      <mi>&eta;</mi>
    </msup>
  </mrow>
</math>