<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE math PUBLIC "-//W3C//DTD MathML 2.0//EN"
       "http://www.w3.org/TR/MathML2/dtd/mathml2.dtd">
<!-- Created by amaya 11.4.4, see http://www.w3.org/Amaya/ -->
<math xmlns="http://www.w3.org/1998/Math/MathML">
  <mi mathvariant="bold">F</mi>
  <mrow>
    <mo>(</mo>
    <mrow>
      <mi>t</mi>
      <mo>,</mo>
      <mover>
        <mi mathvariant="bold">y</mi>
        <mo>˙</mo>
      </mover>
      <mrow>
        <mo>(</mo>
        <mi>t</mi>
        <mo>)</mo>
      </mrow>
      <mo>,</mo>
      <mi mathvariant="bold">y</mi>
    </mrow>
    <mrow>
      <mo>(</mo>
      <mi>t</mi>
      <mo>)</mo>
    </mrow>
    <mo>)</mo>
  </mrow>
  <mo>=</mo>
  <mn mathvariant="bold">0</mn>
</math>
